#root {
  max-width: 1920px;
}

#globalLoader {
  position: fixed;
  z-index: 9999;
  top: 50%;
  left: 50%;
  background-color: #fff;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
}

pre {
  font-family: Palanquin,system-ui,sans-serif;
  font-size: 75%;
  font-weight: 900;
  text-align: center;
  line-height: 50%;
}

.dash_container {
  display: flex;
  flex-wrap: wrap;
}

.title {
  font-size: 300;
}

.service_room {
  margin: 0.4rem;
  border: 1px solid black;
  width: 130px;
  height: 130px;
  background-color: #9D9D9D;
}

.dirty_room {
  margin: 0.4rem;
  border: 1px solid black;
  width: 130px;
  height: 130px;
  background-color: #E52F14;
}

.pickup_room {
  margin: 0.4rem;
  border: 1px solid black;
  width: 130px;
  height: 130px;
  background-color: #F6991B;
}

.clean_room {
  margin: 0.4rem;
  border: 1px solid black;
  width: 130px;
  height: 130px;
  background-color: #FCDD00;
}

.inspected_room {
  margin: 0.4rem;
  border: 1px solid black;
  width: 130px;
  height: 130px;
  background-color: #71D520;
}

.occ_room {
  margin: 0.4rem;
  border: 1px solid black;
  width: 130px;
  height: 130px;
  background-color: #64B2E5;
}

.room_num {
  font-size: 125%;
  font-weight: 900;
  text-align: center;
  line-height: 25%;
}

.room_info {
  font-size: 75%;
  font-weight: 900;
  text-indent: 5px;
  text-align: center;
  line-height: 100%;
}

.due_out {
  font-size: 75%;
  font-weight: 900;
  text-indent: 5px;
  text-align: center;
  line-height: 100%;
  color: #E52F14;
}

@media screen and (min-width: 600px) {
  .card {
    flex: 1 1 calc(50% - 0.5rem);
  }
}

@media screen and (min-width: 900px) {
  .card {
    flex: 1 1 calc(15% - 0.5rem);
  }
}